h1{

    font-size: 100px;
    color: orange;
    margin-bottom: 30px;
}
button{
    font-size: 20px;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 10px;
    background-color: lightblue;
}
button:hover{
    background-color: deepskyblue;
    
}
